# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

/notes_web/target/
/vue-admin-template/node_modules/
/vue-admin-template/dist/
/vue_notes_web/node_modules/
/vue_notes_web/dist/
/.idea/
/logs/
