<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.nots_web.mapper.TagMapper">

    <select id="getAll" resultType="com.chen.nots_web.entity.Tag">
        select * from t_tag
    </select>


    <select id="getTagContentList" resultType="java.lang.String">
        select content from t_tag where is_delete = 0 and uid in
        <foreach collection="array" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

</mapper>
