<html  xmlns:th="http://www.thymeleaf.org"  lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>笔记</title>
    <link rel="stylesheet" href="./css/markDown.css">
    <link rel="stylesheet" href="./css/notes.css">
    <link rel="stylesheet" href="./layui/css/layui.css"/>

    <script src="./js/showdown.min.js"></script>
    <script src="./layui/layui.js"></script>
    <script src="./js/jquery.js"></script>

    <script type="text/javascript">
        var form = layui.form;
        $(function () {
            let noteForm = JSON.parse(window.localStorage.getItem("noteForm"));
            if(noteForm !== null){
                layer.open({
                    type: 0,
                    title:"还有上次未完成的文章编辑，是否继续编辑?",
                    anim: 1,
                    btn: ['确定', '取消'],
                    icon: 6,
                    yes:function(){
                        form.val("noteForm", {
                            title: noteForm.title,
                            summary: noteForm.summary,
                            noteSortUid: noteForm.noteSortUid,
                            topicTag: noteForm.topicTags,
                            isOriginal: noteForm.isOriginal,
                            content: noteForm.content
                        });
                        layer.closeAll();
                    },
                    btn2:function(){
                        window.localStorage.removeItem("noteForm")
                    }
                });
            }
        });

        function cancel(){
            window.history.back(-1);
        }

        function mdSwitch() {
            sysnCache();
            var mdValue = document.getElementById("md-area").value;
            var converter = new showdown.Converter();
            var html = converter.makeHtml(mdValue);
            document.getElementById("show-area").innerHTML = html;
        }

        function sysnCache() {
            const noteForm = {
                title: $("[name='title'] ").val(),
                summary: $("[name='summary'] ").val(),
                noteSortUid: $("[name='noteSortUid'] ").val(),
                topicTag: $("[name='topicTags'] ").val(),
                isOriginal: $("[name='isOriginal'] ").val(),
                content: $("[name='content'] ").val()
            }
            window.localStorage.setItem('noteForm', JSON.stringify(noteForm));
        }

        layui.use('form', function(){
            form.on('submit(btnSubmit)', function(data){
                console.log(data.field)
                $.ajax({
                    url: '/api/note/add',
                    type: 'post',
                    data: JSON.stringify(data.field),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        layer.msg("提交" + data.msg);
                        window.localStorage.removeItem('noteForm');
                        window.parent.Location.reload();
                    }
                });
                return false;
            });
           /* form.on('submit(save)', function (data) {
                //window.localStorage.setItem("noteForm", JSON.stringify(data.field));
                //layer.msg("保存成功");
            });*/
        });
    </script>
</head>
<body>
<div id="area" class="notes-edit">
    <div class="notes-head notes-top-title">
        <a>编写我的笔记</a>
    </div>
    <div class="notes-body">
        <div class="layui-form" lay-filter="noteForm">
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="notes-red">* </span>标题</label>
                <div class="layui-col-md8">
                    <input type="text"
                           class="layui-input"
                           id="title" 
                           name="title"
                           onkeyup="sysnCache()"
                           placeholder="请输入笔记标题" 
                           maxlength="100"
                           lay-verify="required"
                           style="text-indent: 1em;">

                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="notes-red">* </span>简介</label>
                <div class="layui-col-md8">
                    <input type="text"
                           class="layui-input"
                           id="summary"
                           name="summary"
                           onkeyup="sysnCache()"
                           placeholder="请输入笔记描述"
                           maxlength="250"
                           lay-verify="required"
                           style="text-indent: 1em;">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-col-md2">
                    <label class="layui-form-label">分类</label>
                    <div class="layui-input-block">
                        <select id="noteSortUid" name="noteSortUid" style="text-indent: 1em;">
                            <option value="10">笔记1</option>
                            <option value="10">笔记2</option>
                            <option value="10">笔记3</option>
                            <option value="10">笔记4</option>
                        </select>
                    </div>

                </div>
                <div class="layui-col-md3">
                    <label class="layui-form-label">标签</label>
                    <div class="box">
                        <div class="layui-input-block">
                            <div class="">
                                <input class="layui-input"
                                       type="text"
                                       name="topicTag"
                                       placeholder="标签可以管理自己文章分类,回车确定添加标签(选填)">
                            </div>
                            <input class="layui-input" 
                                   id="tagsinputval" 
                                   name="topicTags" 
                                   onkeyup="sysnCache()"  
                                   maxlength="20" 
                                   placeholder="标签可以管理自己文章分类,回车确定添加标签(选填) " 
                                   style="display: none;">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <label class="layui-form-label">是否原创</label>
                    <div class="layui-input-block">
                        <input type="radio" name="isOriginal" value="1" title="原创" checked>
                        <input type="radio" name="isOriginal" value="0" title="转载" >
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="notes-red">* </span>内容</label>
                <div class="layui-input-block">
                    <div class="layui-col-md6">
                        <textarea class="layui-textarea" 
                                  id="md-area"
                                  name="content"
                                  style="resize:none;"
                                  lay-verify="required"
                                  onkeyup=mdSwitch()>
                        </textarea>
                    </div>
                    <div class="clearfix layui-col-md6" id="show-area"></div>
                </div>
            </div>
            <div class="notes-right-float">
                <button class="layui-btn layui-btn-radius layui-btn-primary" onclick="cancel()">取消</button>
               <!-- <button class="layui-btn layui-btn-radius layui-btn-radius" lay-filter="save" lay-submit>保存</button>-->
                <button class="layui-btn layui-btn-radius layui-btn-normal" lay-filter="btnSubmit" lay-submit>提交</button>
            </div>
        </div>
    </div>
    <div class="notes-footer">

    </div>
</div>
</body>
</html>
